#duzy-kwadrat {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: relative;
}

#maly-kwadrat
    {
    background-color: pink;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}
