#duzy-kwadrat {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: relative;
}

#maly-kwadrat
    {
    background-color: pink;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
        left: 25%;
}
